<div class="container bg-light" style="height: 40rem;">
    <div class="row mt-3">
        <div class="container mt-3 bg-light">
            <div class=" text-center mt-2">
                <h1>Quên mật khẩu</h1>
            </div>
            <div ng-controller="fpw">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="card mt-2 mx-auto p-4 bg-light mb-3">
                            <div class="card-body bg-light">
                                <div class="container">
                                    <form id="contact-form" role="form">
                                        <div class="controls">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group"> <label for="form_name">Nhập email
                                                        </label>
                                                        <input id="form_name" type="email" name="name"
                                                            class="form-control"
                                                            placeholder="Nhập email cần quên mật khẩu"
                                                            required="required" data-error="Firstname is required."
                                                            ng-model="email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mt-3" style="text-align: center;"> <input
                                                        type="submit" class="btn btn-success btn-send pt-2 btn-block "
                                                        value="Quên mật khẩu" ng-click="fpw()"> </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>