<div class="container bg-light" style="height: 55rem;">
    <div class="row mt-3">
        <h3 class="p-2">Câu hỏi thường gặp</h3>
        <div class="border bg-light p-2">
            <h6 class="text-danger">1. Mua sản phẩm FPT Shop được bảo hành như thế nào?</h6>
            <p>Để đảm bảo quyền lợi của quý khách hàng khi mua sản phẩm tại các cửa hàng thuộc hệ thống cửa hàng FPT
                Shop. Chúng tôi cam kết tất cả các sản phẩm được tuân theo các điều khoản bảo hành của sản phẩm tại thời
                điểm xuất hóa đơn cho quý khách hàng. Các sản phẩm điện thoại sẽ có chính sách bảo hành khác nhau tùy
                thuộc vào hãng sản xuất. Khách hàng có thể bảo hành máy tại các cửa hàng FPT Shop trên toàn quốc cũng
                như các trung tâm bảo hành chính hãng sản phẩm.</p>
        </div>
        <div class="border bg-light p-2 mt-3">
            <h6 class="text-danger">2. Mua sản phẩm tại FPT Shop có được đổi trả không? Nếu được thì phí đổi trả sẽ được
                tính như thế nào?</h6>
            <p>Đối với các sản phẩm ĐTDĐ, MTB, MTXT, SMARTWATCH (Áp dụng bao gồm các sản phẩm Apple), sản phẩm cùng
                model, cùng màu, cùng dung lượng. Trong tình huống sản phẩm đổi hết hàng, khách hàng có thể đổi sang một
                sản phẩm khác tương đương hoặc cao hơn về giá trị so với sản phẩm lỗi. Trường hợp khách hàng muốn trả
                sản phẩm: FPTShop sẽ kiểm tra tình trạng máy và thông báo đến Khách hàng về giá trị thu lại sản phẩm
                ngay tại cửa hàng.</p>
        </div>

        <div class="container mt-3 bg-light">
            <div class=" text-center ">
                <h3>Gửi câu hỏi</h3>
            </div>
            <div class="row ">
                <div class="col-lg-7 mx-auto">
                    <div class="card mt-2 mx-auto p-4 bg-light mb-3">
                        <div class="card-body bg-light">
                            <div class="container">
                                <form id="contact-form" role="form">
                                    <div class="controls">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group"> <label for="form_name">Họ và tên *</label>
                                                    <input id="form_name" type="text" name="name" class="form-control"
                                                        placeholder="Nhập họ và tên *" required="required"
                                                        data-error="Firstname is required.">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 mt-2">
                                                <div class="form-group"> <label for="form_email">Email *</label> <input
                                                        id="form_email" type="email" name="email" class="form-control"
                                                        placeholder="Nhập email *" required="required"
                                                        data-error="Valid email is required."> </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 mt-2">
                                                <div class="form-group"> <label for="form_message">Câu hỏi *</label>
                                                    <textarea id="form_message" name="message" class="form-control"
                                                        placeholder="Nhập thắc muốn của bạn với chúng tôi *" rows="4"
                                                        required="required"
                                                        data-error="Please, leave us a message."></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-3"> <input type="submit"
                                                    class="btn btn-success btn-send pt-2 btn-block " value="Gửi"> </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- /.8 -->
                </div> <!-- /.row-->
            </div>
        </div>
    </div>
</div>